AIO-NEO-Pop-up-Subflow-Bsp.json
[{"id":"52e05b12.b35624","type":"subflow","name":"AIO Neo PopUp","info":"\n### _Version: 1.0.1_  \n>_powered by Matten Matten_\n---\n\nDieser Subflow nähert sich der Configurations Maske aus dem\n\nAIO Creator Neo von Mediola und sendet ein Pop-up Befehl\n\nan dein Tablet oder Smartphone mit der AIO Neo Remote App.\n\n---\n\n## INPUT:\n\n### Pop-up öffnen\n\n`msg.payload = \"Name des Popup\"`\n\n### Pop-up schließen\n\n`msg.payload = \"close\" / \"closeAll\"`\n\n---","category":"network","in":[{"x":40,"y":40,"wires":[{"id":"1c03b345.5e832d"}]}],"out":[],"env":[{"name":"","type":"str","value":"Mediola AIO NEO Pop-up","ui":{"icon":"font-awesome/fa-tv","label":{"en-US":"Mediola AIO NEO Pop-up Subflow"},"type":"none"}},{"name":"IP","type":"str","value":"192.168.X.X","ui":{"icon":"font-awesome/fa-podcast","label":{"en-US":"IP Adresse"},"type":"input","opts":{"types":["str"]}}},{"name":"PORT","type":"str","value":"1902","ui":{"icon":"font-awesome/fa-anchor","label":{"en-US":"Port"},"type":"hide"}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"","type":"str","value":"Name der Remote Fernbedienung / Visualisierung","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Name der Remote Fernbedienung / Visualisierung"},"type":"none"}},{"name":"VIS_Name","type":"str","value":"My Visu Tablet","ui":{"icon":"font-awesome/fa-pencil","label":{"en-US":"Name"},"type":"input","opts":{"types":["str"]}}},{"name":"","type":"str","value":"leer","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"Position","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Position  ( Standard: zentriert ; Seite ; 0px ; 0px )"},"type":"none"}},{"name":"align","type":"str","value":"","ui":{"icon":"font-awesome/fa-arrows","label":{"en-US":"Ausrichtung"},"type":"select","opts":{"opts":[{"l":{"en-US":"links oben"},"v":"left_top"},{"l":{"en-US":"links mittig"},"v":"left_center"},{"l":{"en-US":"links unten"},"v":"left_bottom"},{"l":{"en-US":"mittig oben"},"v":"center_top"},{"l":{"en-US":"zentriert"},"v":""},{"l":{"en-US":"mittig unten"},"v":"center_bottom"},{"l":{"en-US":"rechts oben"},"v":"right_top"},{"l":{"en-US":"rechts mittig"},"v":"right_center"},{"l":{"en-US":"rechts unten"},"v":"right_bottom"}]}}},{"name":"alignTo","type":"str","value":"page","ui":{"icon":"font-awesome/fa-crop","label":{"en-US":"Ausrichtung relativ zu"},"type":"select","opts":{"opts":[{"l":{"en-US":"Seite"},"v":"page"},{"l":{"en-US":"übergeordnetem Pop-up"},"v":"parent"}]}}},{"name":"pos_x","type":"num","value":"0","ui":{"icon":"font-awesome/fa-arrows-h","label":{"en-US":"Versatz X-Achse in px"},"type":"spinner","opts":{"min":-10000,"max":10000}}},{"name":"pos_y","type":"num","value":"0","ui":{"icon":"font-awesome/fa-arrows-v","label":{"en-US":"Versatz Y-Achse in px"},"type":"spinner","opts":{"min":-10000,"max":10000}}},{"name":"","type":"str","value":"leer","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"Hintergrund","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Hintergrund  ( Standard: #FFFFFF ; 0.6 )"},"type":"none"}},{"name":"bg_color","type":"str","value":"#FFFFFF","ui":{"icon":"font-awesome/fa-paint-brush","label":{"en-US":"Farbe"},"type":"input","opts":{"types":["str"]}}},{"name":"bg_alpha","type":"str","value":"0.6","ui":{"icon":"font-awesome/fa-adjust","label":{"en-US":"Deckkraft"},"type":"select","opts":{"opts":[{"l":{"en-US":"0"},"v":"0"},{"l":{"en-US":"0.1"},"v":"0.1"},{"l":{"en-US":"0.2"},"v":"0.2"},{"l":{"en-US":"0.3"},"v":"0.3"},{"l":{"en-US":"0.4"},"v":"0.4"},{"l":{"en-US":"0.5"},"v":"0.5"},{"l":{"en-US":"0.6"},"v":"0.6"},{"l":{"en-US":"0.7"},"v":"0.7"},{"l":{"en-US":"0.8"},"v":"0.8"},{"l":{"en-US":"0.9"},"v":"0.9"},{"l":{"en-US":"1"},"v":"1"}]}}},{"name":"","type":"str","value":"leer","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"Animation beim öffnen","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Animation beim öffnen"},"type":"none"}},{"name":"open","type":"str","value":"","ui":{"icon":"font-awesome/fa-plus","label":{"en-US":"Animation"},"type":"select","opts":{"opts":[{"l":{"en-US":"---"},"v":""},{"l":{"en-US":"ausrollen"},"v":"slide-down"},{"l":{"en-US":"einblenden"},"v":"fade-in"},{"l":{"en-US":"von links hereinbewegen"},"v":"slide-from-left"},{"l":{"en-US":"von oben hereinbewegen"},"v":"slide-from-top"},{"l":{"en-US":"von rechts hereinbewegen"},"v":"slide-from-right"},{"l":{"en-US":"von unten hereinbewegen"},"v":"slide-from-bottom"}]}}},{"name":"open_duration","type":"num","value":"400","ui":{"icon":"font-awesome/fa-clock-o","label":{"en-US":"Dauer"},"type":"spinner","opts":{"min":0,"max":10000}}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"","type":"str","value":"Animation beim schließen","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Animation beim schließen"},"type":"none"}},{"name":"close","type":"str","value":"","ui":{"icon":"font-awesome/fa-minus","label":{"en-US":"Animation"},"type":"select","opts":{"opts":[{"l":{"en-US":"---"},"v":""},{"l":{"en-US":"einrollen"},"v":"slide-up"},{"l":{"en-US":"ausblenden"},"v":"fade-out"},{"l":{"en-US":"nach links hinausbewegen"},"v":"slide-to-left"},{"l":{"en-US":"nach oben hinausbewegen"},"v":"slide-to-top"},{"l":{"en-US":"nach rechts hinausbewegen"},"v":"slide-to-right"},{"l":{"en-US":"nach unten hinausbewegen"},"v":"slide-to-bottom"}]}}},{"name":"close_duration","type":"num","value":"400","ui":{"icon":"font-awesome/fa-clock-o","label":{"en-US":"Dauer"},"type":"spinner","opts":{"min":0,"max":10000}}},{"name":"","type":"str","value":"leer","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"Stil","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Stil"},"type":"none"}},{"name":"","type":"str","value":"Umrandung","ui":{"label":{"en-US":"Umrandung  (Standard: 0px ; #FFFFFF)"},"type":"none"}},{"name":"border","type":"num","value":"0","ui":{"icon":"font-awesome/fa-pencil-square-o","label":{"en-US":"Rahmen-Dicke"},"type":"spinner","opts":{"min":0,"max":100}}},{"name":"solid","type":"str","value":"#FFFFFF","ui":{"icon":"font-awesome/fa-paint-brush","label":{"en-US":"Rahmen-Farbe"},"type":"input","opts":{"types":["str"]}}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"","type":"str","value":"Ecken","ui":{"label":{"en-US":"Ecken  (Standard: 0px)"},"type":"none"}},{"name":"radius","type":"num","value":"0","ui":{"icon":"font-awesome/fa-circle-o-notch","label":{"en-US":"Abrundung"},"type":"spinner","opts":{"min":0,"max":100}}},{"name":"","type":"str","value":"leer","ui":{"type":"none"}},{"name":"","type":"str","value":"Schatten","ui":{"label":{"en-US":"Schatten  (Standard: 0px ; 0px ; 0px ; 0px ; #00000 ; 0.8)"},"type":"none"}},{"name":"shadow_x","type":"num","value":"0","ui":{"icon":"font-awesome/fa-arrows-h","label":{"en-US":"Versatz X in px"},"type":"spinner","opts":{"min":0,"max":10000}}},{"name":"shadow_y","type":"num","value":"0","ui":{"icon":"font-awesome/fa-arrows-v","label":{"en-US":"Versatz Y in px"},"type":"spinner","opts":{"min":0,"max":10000}}},{"name":"shadow_u","type":"num","value":"0","ui":{"icon":"font-awesome/fa-diamond","label":{"en-US":"Unschärfe in px"},"type":"spinner","opts":{"min":0,"max":10000}}},{"name":"shadow_a","type":"num","value":"0","ui":{"icon":"font-awesome/fa-arrows-alt","label":{"en-US":"Ausbreitung in px"},"type":"spinner","opts":{"min":0,"max":10000}}},{"name":"shadow_rgb","type":"str","value":"#000000","ui":{"icon":"font-awesome/fa-paint-brush","label":{"en-US":"Farbe"},"type":"input","opts":{"types":["str"]}}},{"name":"shadow_d","type":"str","value":"0.8","ui":{"icon":"font-awesome/fa-adjust","label":{"en-US":"Deckkraft"},"type":"select","opts":{"opts":[{"l":{"en-US":"0"},"v":"0"},{"l":{"en-US":"0.1"},"v":"0.1"},{"l":{"en-US":"0.2"},"v":"0.2"},{"l":{"en-US":"0.3"},"v":"0.3"},{"l":{"en-US":"0.4"},"v":"0.4"},{"l":{"en-US":"0.5"},"v":"0.5"},{"l":{"en-US":"0.6"},"v":"0.6"},{"l":{"en-US":"0.7"},"v":"0.7"},{"l":{"en-US":"0.8"},"v":"0.8"},{"l":{"en-US":"0.9"},"v":"0.9"},{"l":{"en-US":"1"},"v":"1"}]}}},{"name":"","type":"str","value":"leer","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"CSS","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"CSS ( z.b.:  background-color: transparent; )"},"type":"none"}},{"name":"CSS","type":"str","value":"background-color: transparent;","ui":{"icon":"font-awesome/fa-code","label":{"en-US":"CSS"},"type":"input","opts":{"types":["str"]}}},{"name":"","type":"str","value":"leer","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"Verschiedenes","ui":{"icon":"font-awesome/fa-info-circle","label":{"en-US":"Verschiedenes  ( Standard:  0 sek ; false ; false )"},"type":"none"}},{"name":"closeAfter","type":"num","value":"0","ui":{"label":{"en-US":"Pop-up schließen nach"},"type":"spinner","opts":{"min":0,"max":100000}}},{"name":"pauseParent","type":"bool","value":"false","ui":{"label":{"en-US":"übergeordnete Seite bzw Pop-Up pausieren"},"type":"input","opts":{"types":["bool"]}}},{"name":"closeParent","type":"bool","value":"false","ui":{"label":{"en-US":"übergeordnetes Pop-Up schließen"},"type":"input","opts":{"types":["bool"]}}},{"name":"","type":"str","value":"leer","ui":{"label":{"en-US":"_________________________________________________________"},"type":"none"}},{"name":"","type":"str","value":"input","ui":{"icon":"font-awesome/fa-chevron-right","label":{"en-US":"INPUT: msg.payload = \"Name des Popup\" oder \"close\" / \"closeAll\""},"type":"none"}},{"name":"DEBUG","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-bug","label":{"en-US":"debug"},"type":"checkbox"}},{"name":"","type":"str","value":"Version","ui":{"icon":"font-awesome/fa-qrcode","label":{"en-US":"V1.0.1 - powered by Matten Matten"},"type":"none"}}],"color":"#FFCC66","inputLabels":["INPUT: msg.payload = \"Name des Popup\" oder \"close\" / \"closeAll\""],"icon":"font-awesome/fa-object-ungroup","status":{"x":1220,"y":120,"wires":[{"id":"f6753e04.e47a7","port":0}]}},{"id":"862b0c3d.b8821","type":"change","z":"52e05b12.b35624","name":"Settings","rules":[{"t":"set","p":"closeParent","pt":"msg","to":"closeParent","tot":"env"},{"t":"set","p":"pauseParent","pt":"msg","to":"pauseParent","tot":"env"},{"t":"set","p":"closeAfter","pt":"msg","to":"closeAfter","tot":"env"},{"t":"set","p":"CSS","pt":"msg","to":"CSS","tot":"env"},{"t":"set","p":"shadow_d","pt":"msg","to":"shadow_d","tot":"env"},{"t":"set","p":"shadow_rgb","pt":"msg","to":"shadow_rgb","tot":"env"},{"t":"set","p":"shadow_a","pt":"msg","to":"shadow_a","tot":"env"},{"t":"set","p":"shadow_u","pt":"msg","to":"shadow_u","tot":"env"},{"t":"set","p":"shadow_y","pt":"msg","to":"shadow_y","tot":"env"},{"t":"set","p":"shadow_x","pt":"msg","to":"shadow_x","tot":"env"},{"t":"set","p":"radius","pt":"msg","to":"radius","tot":"env"},{"t":"set","p":"solid","pt":"msg","to":"solid","tot":"env"},{"t":"set","p":"border","pt":"msg","to":"border","tot":"env"},{"t":"set","p":"close_duration","pt":"msg","to":"close_duration","tot":"env"},{"t":"set","p":"close","pt":"msg","to":"close","tot":"env"},{"t":"set","p":"open_duration","pt":"msg","to":"open_duration","tot":"env"},{"t":"set","p":"open","pt":"msg","to":"open","tot":"env"},{"t":"set","p":"bg_alpha","pt":"msg","to":"bg_alpha","tot":"env"},{"t":"set","p":"bg_color","pt":"msg","to":"bg_color","tot":"env"},{"t":"set","p":"pos_y","pt":"msg","to":"pos_y","tot":"env"},{"t":"set","p":"pos_x","pt":"msg","to":"pos_x","tot":"env"},{"t":"set","p":"alignTo","pt":"msg","to":"alignTo","tot":"env"},{"t":"set","p":"align","pt":"msg","to":"align","tot":"env"},{"t":"set","p":"time","pt":"msg","to":"","tot":"date"},{"t":"set","p":"ip","pt":"msg","to":"IP","tot":"env"},{"t":"set","p":"port","pt":"msg","to":"PORT","tot":"env"},{"t":"set","p":"topic","pt":"msg","to":"VIS_Name","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":40,"wires":[["a8b44b1f.d78148"]],"icon":"font-awesome/fa-drivers-license-o"},{"id":"50e6da63.6135f4","type":"function","z":"52e05b12.b35624","name":"hex2rgb","func":"function hex2rgb(hex) {\n  var result = /^#?([a-f\\d]{2})([a-f\\d]{2})([a-f\\d]{2})$/i.exec(hex);\n  return result ? {\n    r: parseInt(result[1], 16),\n    g: parseInt(result[2], 16),\n    b: parseInt(result[3], 16)\n  } : null;\n}\n\nvar hexwert = msg.shadow_rgb;\n\n//node.warn(hexwert.length)\n\nif (hexwert.length === 7){\n    var rgb = hex2rgb(hexwert);\n    msg.shadow_rgb = rgb.r + \",\" + rgb.g + \",\" + rgb.b;\n    return msg;\n} else {\n    msg.shadow_rgb = \"0,0,0\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":40,"wires":[["906072f7.1cd24"]],"icon":"node-red/hash.svg"},{"id":"906072f7.1cd24","type":"template","z":"52e05b12.b35624","name":"open PopUp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{XC_EVT}\n{\n    \"func\":\"popup\",\n    \"remote\":\"{{topic}}\",\n    \"action\":\"open\",\n    \"time\":{{time}},\n    \"popup\":\"{{payload}}\",\n    \"settings\":\"{\\\"anim\\\":{\\\"open\\\":\\\"{{open}}\\\",\\\"open_duration\\\":{{open_duration}},\\\"close\\\":\\\"{{close}}\\\",\\\"close_duration\\\":{{close_duration}}},\\\"bg\\\":{\\\"color\\\":\\\"{{bg_color}}\\\",\\\"alpha\\\":{{bg_alpha}}},\\\"css\\\":\\\"{{CSS}}\\\",\\\"pos\\\":{\\\"align\\\":\\\"{{align}}\\\",\\\"alignTo\\\":\\\"{{alignTo}}\\\",\\\"x\\\":{{pos_x}},\\\"y\\\":{{pos_y}}},\\\"style\\\":{\\\"border\\\":\\\"{{border}}px solid {{solid}}\\\",\\\"radius\\\":\\\"{{radius}}px\\\",\\\"shadow\\\":\\\"{{shadow_x}}px {{shadow_y}}px {{shadow_u}}px {{shadow_a}}px rgba({{shadow_rgb}},{{shadow_d}})\\\"},\\\"various\\\":{\\\"closeAfter\\\":{{closeAfter}},\\\"closeParent\\\":{{closeParent}},\\\"pauseParent\\\":{{pauseParent}}}}\"\n}\n","output":"str","x":1210,"y":40,"wires":[["49965bca.b96854","6fd40262.feacdc","fa89da34.dbc658"]]},{"id":"7881461f.0c28c8","type":"debug","z":"52e05b12.b35624","name":"AIO Neo Popup Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1680,"y":80,"wires":[],"icon":"font-awesome/fa-bug"},{"id":"5893beb0.f3b72","type":"function","z":"52e05b12.b35624","name":"Remote Namen prüfen","func":"//msg.status = {fill:\"green\",shape:\"dot\",text:\"hi\"};\nmsg.payload = {fill:\"red\",shape:\"ring\",text:\"Bitte den Remote Namen prüfen!\"};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":120,"wires":[["f6753e04.e47a7"]]},{"id":"a3f4d221.0d088","type":"function","z":"52e05b12.b35624","name":"solid","func":"//#000000\nvar hexwert = msg.solid;\n\nif (hexwert.length != 7){\n    msg.solid = \"#000000\";\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":40,"wires":[["785f9e03.fce1a"]]},{"id":"785f9e03.fce1a","type":"function","z":"52e05b12.b35624","name":"bg_color","func":"//#000000\nvar hexwert = msg.bg_color;\n\nif (hexwert.length != 7){\n    msg.bg_color = \"#000000\";\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":40,"wires":[["50e6da63.6135f4"]]},{"id":"49965bca.b96854","type":"switch","z":"52e05b12.b35624","name":"DEBUG","property":"DEBUG","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1420,"y":80,"wires":[["3423fd83.878bd2"]],"icon":"font-awesome/fa-bug"},{"id":"6fd40262.feacdc","type":"udp out","z":"52e05b12.b35624","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"broad","x":1410,"y":40,"wires":[]},{"id":"20814297.389dce","type":"function","z":"52e05b12.b35624","name":"ip","func":"if (msg.ip === undefined || msg.ip === \"192.168.X.X\" || msg.ip === \"\"){\n    msg.ip = \"255.255.255.255\";\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":40,"wires":[["a3f4d221.0d088"]]},{"id":"135d5d3a.ca7e83","type":"switch","z":"52e05b12.b35624","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"empty"},{"t":"neq","v":"My Visu Tablet","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":510,"y":60,"wires":[["5893beb0.f3b72"],["20814297.389dce","5bc589f1.59e968"]]},{"id":"a8b44b1f.d78148","type":"switch","z":"52e05b12.b35624","name":"payload","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"closeAll","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":320,"y":40,"wires":[["51983521.3e88bc"],["a4dac7de.445f98"],["a4dac7de.445f98"],["135d5d3a.ca7e83"]]},{"id":"51983521.3e88bc","type":"function","z":"52e05b12.b35624","name":"Pop-up Name","func":"//msg.status = {fill:\"green\",shape:\"dot\",text:\"hi\"};\nmsg.payload = {fill:\"red\",shape:\"ring\",text:\"Bitte Pop-up Namen als msg.payload angeben!\"};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["f6753e04.e47a7"]]},{"id":"fa89da34.dbc658","type":"function","z":"52e05b12.b35624","name":"gesendet","func":"//msg.status = {fill:\"green\",shape:\"dot\",text:\"hi\"};\nmsg.payload = {fill:\"green\",shape:\"dot\",text:\"gesendet\"};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":120,"wires":[["f6753e04.e47a7"]]},{"id":"5bc589f1.59e968","type":"function","z":"52e05b12.b35624","name":"sende...","func":"//msg.status = {fill:\"green\",shape:\"dot\",text:\"hi\"};\nmsg.payload = {fill:\"yellow\",shape:\"ring\",text:\"sende Popup '\" + msg.payload + \"' an IP:\" + msg.ip};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":120,"wires":[["f6753e04.e47a7"]]},{"id":"3423fd83.878bd2","type":"change","z":"52e05b12.b35624","name":"löschen","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"port","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1535,"y":80,"wires":[["7881461f.0c28c8"]],"icon":"node-red/bridge.svg","l":false},{"id":"f6753e04.e47a7","type":"delay","z":"52e05b12.b35624","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1155,"y":120,"wires":[[]],"l":false},{"id":"8b948e72.d615d","type":"inject","z":"52e05b12.b35624","name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{fill:\"green\",shape:\"ring\",text:\"bereit\"}","payloadType":"str","x":270,"y":120,"wires":[["8b8b6831.862388"]]},{"id":"8b8b6831.862388","type":"function","z":"52e05b12.b35624","name":"","func":"msg.payload = {fill:\"green\",shape:\"ring\",text:\"bereit\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":120,"wires":[["f6753e04.e47a7"]],"l":false},{"id":"1c03b345.5e832d","type":"delay","z":"52e05b12.b35624","name":"","pauseType":"rate","timeout":"2500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"2.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":95,"y":40,"wires":[["862b0c3d.b8821"]],"l":false},{"id":"536bdc7d.bf3e34","type":"catch","z":"52e05b12.b35624","name":"","scope":["6fd40262.feacdc"],"uncaught":false,"x":1540,"y":40,"wires":[["5fbe1e47.d64ce"]]},{"id":"5fbe1e47.d64ce","type":"switch","z":"52e05b12.b35624","name":"Error: Not running","property":"error.message","propertyType":"msg","rules":[{"t":"regex","v":"Error:","vt":"str","case":true}],"checkall":"false","repair":false,"outputs":1,"x":1710,"y":40,"wires":[["83a7c506.7c3908"]]},{"id":"83a7c506.7c3908","type":"function","z":"52e05b12.b35624","name":"error","func":"//msg.status = {fill:\"green\",shape:\"dot\",text:\"hi\"};\nmsg.payload = {fill:\"red\",shape:\"dot\",text:\"ERROR! Bitte erneut deploy ausführen oder Voll deploy ausführen \\n(\" + msg.error.message + \")\"};\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1930,"y":120,"wires":[["f6753e04.e47a7"]]},{"id":"d25c107d.196bd","type":"template","z":"52e05b12.b35624","name":"close popup","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{XC_EVT}\n{\n    \"func\":\"popup\",\n    \"remote\":\"{{topic}}\",\n    \"action\":\"{{payload}}\",\n    \"time\":{{time}}\n}","output":"str","x":1210,"y":180,"wires":[["8ff18502.301248"]]},{"id":"a4dac7de.445f98","type":"link out","z":"52e05b12.b35624","name":"","links":["3a8d0cd3.360254"],"x":475,"y":20,"wires":[]},{"id":"3a8d0cd3.360254","type":"link in","z":"52e05b12.b35624","name":"","links":["a4dac7de.445f98"],"x":415,"y":180,"wires":[["e1d95f17.11ad1"]]},{"id":"e1d95f17.11ad1","type":"switch","z":"52e05b12.b35624","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"empty"},{"t":"eq","v":"My Visu Tablet","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":530,"y":180,"wires":[["5893beb0.f3b72"],["5893beb0.f3b72"],["5bc589f1.59e968","14cce9f7.0a81f6"]]},{"id":"e1491e21.84e12","type":"link in","z":"52e05b12.b35624","name":"","links":["8ff18502.301248"],"x":1275,"y":120,"wires":[["6fd40262.feacdc","fa89da34.dbc658","49965bca.b96854"]]},{"id":"8ff18502.301248","type":"link out","z":"52e05b12.b35624","name":"","links":["e1491e21.84e12"],"x":1335,"y":180,"wires":[]},{"id":"14cce9f7.0a81f6","type":"function","z":"52e05b12.b35624","name":"ip","func":"if (msg.ip === undefined || msg.ip === \"192.168.X.X\" || msg.ip === \"\"){\n    msg.ip = \"255.255.255.255\";\n    return msg;\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":180,"wires":[["d25c107d.196bd"]]},{"id":"b61e3be6.888218","type":"subflow:52e05b12.b35624","z":"8d6e1320.c587b","name":"","x":1800,"y":340,"wires":[]},{"id":"4cf89df4.633644","type":"inject","z":"8d6e1320.c587b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"closeAll","payloadType":"str","x":1610,"y":340,"wires":[["b61e3be6.888218"]]},{"id":"8a5e92e1.e6349","type":"inject","z":"8d6e1320.c587b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"close","payloadType":"str","x":1610,"y":300,"wires":[["b61e3be6.888218"]]},{"id":"c43ef805.6ce9c8","type":"inject","z":"8d6e1320.c587b","name":"PopUp Name","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PopUp Name","payloadType":"str","x":1590,"y":380,"wires":[["b61e3be6.888218"]]}]
